mixin video(videoInfo)
        div
            h4
                a(href=`/videos/${videoInfo.id}`)=videoInfo.title
            p=videoInfo.description
            small=videoInfo.createdAt
            hr